/* Existing styles */
.sidebar {
  border: 1px solid #E2E4E9;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #FFFF;
}
.user-bar,
.mid-bar {

  border-bottom: 1px solid #E2E4E9;
}
.mid-bar {flex-grow: 1;}

.warraper {
  /* border: 1px solid black; */
  margin: 10px;
}
.sub-link {
  margin-left: 20px;
  margin-top: 5px;
  border-radius: 4px;
  padding: 2px 2px 2px 10px;
  margin-bottom: 5px;
  margin-right: 10px;
}
.sub-link:hover {
  background-color: #F3F4F6;
}
.sub-link.active {
  background-color: #3e6ef4;
  border-radius: 4px;
  padding: 2px 2px 2px 10px;
}
.sub-link.active a {
  color: white;
}

/* New styles for links and icons */
.sidebar a {
  text-decoration: none;
  color: black; /* Adjust color as needed */
  display: flex;
  align-items: center;
  /* margin-bottom: 5px; */
}

.icon {
  margin-right: 8px; /* Adjust spacing as needed */
  width: 20px; /* Adjust icon size as needed */
  height: 20px; /* Adjust icon size as needed */
}

/* Optional: Style adjustments for main link containers */
.link-container {
  margin-bottom: 10px;
}

.main-link {
  font-weight: bold; /* Optional: makes main links bold */
}
