.dept-card {
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 20px;
  margin: 10px 0;
  background-color: #FFFF;
  transition: all 0.3s ease;
  /* height: 500px; Adjust based on your needs */
  /* overflow-y: auto; */
}

.dept-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toggle-btn {
  font-size: 1rem;
  cursor: pointer;
  border: none;
  background: none;
}

.dept-name h2{
  color: #FFFF;
  margin: 0;
}

.factory-id {
  color: #666;
  font-size: 0.9rem;
  margin-top: 10px;
}

.dept-details {
  margin-top: 20px;
}
