

/* FactoryDetails.css */

.setup-div{
    width: 100%;
    height: 100%;
    border: 1px solid black;
    padding: 10px;
}

.form-field {
    margin-bottom: 15px;
    /* width: 100%; */
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.form-field label {
    color: #333;
    font-weight: 600;
}

.form-field input {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-left: 10px;
}

.input:focus {
    border-color: #007bff;
    outline: none;
}




.update-button {
    background-color: #007bff;
    color: white;
}

.update-button:disabled, .update-button.success {
    background-color: #28a745;
}

.clear-button {
    background-color: #dc3545;
    color: white;
}

.change-button {
    padding: 5px 10px;
    background-color: #dc3545;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.error-message {
    color: #dc3545;
    margin-top: 5px;
}

.display-field {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid black; */
    padding: 10px;
}
