
/* Wrapper and Background */
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFFFFF; /* Updated as requested */
  height: 100%;
}

/* Header and Main Content Styling */
.header {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 32px 0;
}
.headingdiv {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 32px 0 ;
}

.main {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

/* Subform Styling */
.subform {
  background-color: #fff;
  border: 1px solid #D2D4DB;
  border-radius: 8px;
  padding: 2px 24px 24px 24px;
  width: 335px;
  /* height: ; */
}

/* Typography */
.heading {
  font-size: 30px;
  line-height: 38px;
  color: rgba(23, 24, 35, 0.85);
  font-weight: bold;
  font-family: "Euclid Square", sans-serif; /* Ensure you load Euclid Square font */
  /* margin-top: 20px; */
}

.formInput, .accountPrompt, .termsText { /* General style for form inputs, account prompt, and terms text */
  font-family: "Euclid Square", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
  color: rgba(23, 24, 35, 0.75);
  font-weight: 400;
}

.formInput { /* Specific style for form inputs */
  font-size: 14px;
  line-height: 20px;
}

.termsText { /* Style for "I accept the terms..." text */
  font-size: 12px;
  line-height: 16px;
}

.accountPrompt, .button, .actionButton { /* Styles for account prompts and buttons */
  font-size: 14px;
  line-height: 22px;
  font-weight: 500;
}

.button, .actionButton { /* Button styling */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 5px 12px;
  border-radius: 8px;
  margin-top: 8px;
  background-color: #FFFF;
  color: rgb(23, 24, 35);
  border: 1px solid #D2D4DB;
  cursor: pointer;
}
.actionButton {
  /* width: 40%; */
  height: 40px;
  font-weight: 500;
}

.button:hover, .actionButton:hover {
  background-color: #EBECEE;
  border: 1px solid #9CA1AE
}

.passwordResetLink, .loginHereLink { /* Styles for "forgot password" and "log in here" links */
  text-decoration: none;
  font-family: "Euclid Square", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
  font-size: 14px;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  color: #1976D2;
}

.passwordResetLink:hover, .loginHereLink:hover {
  text-decoration: underline;
}

/* Error Message Styling */
.error-message {
  color: red; /* Error message text color */
}

.actionSection{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1em;
}