.factory-da-container {
  padding: 20px;
  font-family: "Euclid Square", sans-serif;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.color-explanation {
  text-align: center;
  margin-bottom: 20px;
}

.color-explanation p {
  display: flex;
  align-items: center;
  justify-content: center;
}

.color-explanation .risk-circle {
  margin-right: 10px;
}

.factory-details {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.department-card2 {
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  background-color: #f9f9f9;
  height: auto; /* Set to auto for dynamic content */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.noise-details {
  margin-top: 10px;
}

.progress-bar-container {
  background-color: #eee;
  border-radius: 4px;
  overflow: hidden;
  height: 10px;
  margin-top: 5px;
  position: relative;
}

.progress-bar-gray {
  background-color: rgba(200, 200, 200, 0.5);
  height: 100%;
  width: 100%;
  position: relative;
}

.progress-bar-blue {
  background-color: #0000ff;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.risk-level-container {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.risk-text {
  margin-right: 10px;
}

.risk-circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
}

.risk-circle.red {
  background-color: red;
}

.risk-circle.yellow {
  background-color: yellow;
}

.employee-list {
  margin-top: 10px;
}

.employee-list p {
  margin: 0;
}
