.setup-factory, .department-cards-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.setup-factory {
  height: 100vh;
}

.department-cards-container {
  width: 100%;
}

.first-ses {
  display: flex;
flex-wrap: wrap;
  /* background-color: #FFFF; */
}
 .selected-array, .first-ses {
  margin: 10px 0;
  padding: 20px;
  border: 1px solid rgb(64, 50, 146);
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.inputx, .form-div, .factory-details-form {
  width: 100%;
}

input, label, .msg, .error-message {
  margin: 10px 0;
  padding: 5px;
  /* border: 1px solid #ccc; */
  border-radius: 4px;
}

input {
  min-width: 22px;
}

h3 {
  color: #007bff;
  font-weight: 800;
  font-size: 30px;
}

.navigation-buttons, .form-button-group {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 20px 0;
  padding: 0 20px;
}

/* Unified Button Styling */
.navigation-buttons button, .form-button-group button, .div-like-btn button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, color 0.3s, transform 0.2s, box-shadow 0.2s;
  font-weight: bold;
  text-transform: uppercase;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.navigation-buttons button:hover, .form-button-group button:hover, .div-like-btn button:hover {
  background-color: #218838; /* Darker shade for hover state */
  color: white;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Additional Styling for Specific Button Types if needed */
.navigation-buttons button.next, .navigation-buttons button.prev {
  min-width: 100px;
  background-color: #3E6EF4; /* Example primary color */
  color: white;
}

.div-like-btn {
  background-color: #007bff; /* Primary color */
  color: white;
  border-radius: 20px;
}

.div-like-btn button {
  background-color: #dc3545; /* Danger color */
}
